*.lastbuildstate
*.tlog
Debug/Project.exe
Debug/Project.ilk
Debug/Project.log
Debug/Project.pdb
.vs/Project/v16/Browse.VC.db
.vs/Project/v16/.suo
.vs/Project/v16/.suo
.vs/Project/v16/Browse.VC.db
.vs/Project/v16/Browse.VC.opendb
Debug/CS271_final_gamedev.obj
Debug/Project.exe
Debug/Project.ilk
Debug/Project.log
Debug/Project.pdb
*.tlog
Project.lst
.vs/Project/v16/.suo
Debug/CS271_final_gamedev.obj
Debug/Project.exe
Debug/Project.ilk
Debug/Project.pdb
